:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --black-text-color: #000000;
}

body {
  background-color:var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
   
/* utils */
img {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* заб підкреслення а сlass */
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visuallly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 50px;

}
/* -----------header---------------- */
.page-header .container {
  display: flex;
  align-items: center;
}

/*---------- logo ----------------- */

.page-header .logo {
  margin-right: 93px;
}

.logo {
  font-family: Raleway;
  color: var(--primary-text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.accent {
  color: var(--accent-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}

.header-link,
.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px;
  display: inline-block;
  
  color:var(--primary-text-color);
}
.header-item :not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus,
.current {
  color: var(--accent-text-color);
}

/* ---------------------site-contacts------------------------- */
.site-contact {
  display: flex;
  margin-left: auto;
}



/*-------------------section hero------------------- */

.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);

  margin-bottom: 30px;
}
.button-primary {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  cursor: pointer;
}

/* --------------------------h2 hidden--------- */


.info {
  display: flex; 
}   


.about-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-text-color)
margin-bottom: 10px;
}

.about-text {
line-height: 1.71;
letter-spacing: 0.03em;
}

.about-item {
  width: 270px;
}

.about-item:not(:last child) {
  margin-right: 30px;
}


/* ------------------section job--------------- */

.job {
  padding-top: 0;
}



.box {
  display: flex;
  align-items: center;
  
}
.work {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.work:nth-child(3n) {
  margin-right: 0;
}


/* job-titie */
/* --------------------section team------------------ */
.team {
  background-color: #f5f4f5;
}

.team-list {
  display: flex;
  align-items: center;

  margin-right: -30px;
}
.team-team {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
background-color: var(--primary-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px

}



.name-title,
.p-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
 
}
.p-title {
  color: var(--title-text-color);
  margin-bottom: 0;
}

.text-thumb {
  padding: 30px 50px ;
}
/* button */
.button-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  color: var(--primary-bg-color);
}
button:hover,
button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}
.button-all {
  background: #2196f3;
  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */

.footer {
  background-color: var(--black-text-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}


.studio-footer {
  color: var(--primary-bg-color);
  font-size: 26px;
  font-weight: bold;
  line-height: 0.83;
}

/* -------------foter-title -------------*/
.footer-nav {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-bg-color);
  padding-bottom: 9px;
}

.footer-title {
  padding-top: 20px;
}
.footer-title a {
  color: var(--primary-bg-color);
}
.footer-title a:hover,
.footer-title a:focus {
  color: var(--title-text-color);
}
.footer-title .link.current {
  color: var(--title-text-color);
}
/* project */
.project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text-color);
  margin-left: 24px;
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-left: 24px;
}


/* --------------------------h2 hidden--------- */

.services-list {
  display: flex;
  flex-wrap: nowrap;
  width: 611px;
  /* background-color: tomato; */
  margin: 0px 8px  16px  8px; 
  margin-left: auto;
  margin-right: auto;
}

.button-elements {
margin-right: 8px;
}


.button-all {
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
}
.button-title{
  white-space: nowrap;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 128px; 
  text-align: center;
  border: 1px solid transparent;
}
.addition {
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 145px;
  text-align: center;
  border: 1px solid transparent;
}
.design{
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
  text-align: center;
  border: 1px solid transparent;
}
.marketing {
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 130px;
  text-align: center;
  border: 1px solid transparent;
}

/* -----------addition---------- */
.button-title .addition {
  display: inline-block;
  position: absolute;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 3%;
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 145px;
  text-align: center;
  border: 1px solid transparent;
  }
  /* -----design----------------- */
 .button-title .design {
  display: inline-block;
  position: absolute;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 3%;
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
  text-align: center;
  border: 1px solid transparent;
  }
  /* --------marketing------------ */
 .button-title .marketing {
  display: inline-block;
  position: absolute;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 3%;
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 130px;
  text-align: center;
  border: 1px solid transparent;
 }


/*------ list 9 iconok------- */

.list-flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: teal; */
  list-style: none;
}
.flex-elements {

  width: calc((100% - 60px) / 3);
  /* background-color: tomato; */
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-elements:nth-child(3n) {
  margin-right: 0;
}
.flex-elements .project {
  margin-top: 20px;
  margin-bottom: 4px;
}
.flex-elements .project-text {
  margin-top: 0px;
  margin-bottom: 20px;
}

.flex-elements:nth-child(3n) {
  margin-right: 0px;
}

.filter-nav {
  padding-top: 0px;
  padding-bottom: 94px;
}

/* ------- border-bottom--line-portfolio--*/
.line-portfolio {
  border-bottom: 1px solid;
  position: absolute;
  width: 370px;
  background: #EEEEEE;
}


